* {
  box-sizing: border-box;
}
#wrapper {
  text-align: center;
  background-color: #0C5442;
  background-image: linear-gradient(#FFFFFF, #0C5442)
  width: 80%;
  min-width: 900px;
  max-width: 2050px;
  box-shadow: 4px 4px #133926;
  border-width: 1.5pt;
  border-color: #003300;
  border-style: solid;
}
body {
  color: #666666;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FFFFFF;
}
header {
  background-color: #00B386;
  color: #FFFFFF;
  text-align: center;
  height: 175px;
  padding-top: 30px;
  padding-left: 2em;
}
nav {
  font-weight: bold;
  text-decoration: none;
  padding: 1.5em;
  float: left;
  font-size: 120%;
  width: 160px;
}
h1 {
  margin-bottom: 0;
  margin-top: 0;
  font-family: Times, Georgia, serif;
  font-size: 3em;
  letter-spacing: 0.25em;
}
h2 {
  color: #00664D;
  font-family: Times, Georgia, serif;
  text-shadow: 1px 1px #CCCCCC;
}
h3 {
  font-family: Times, Georgia, serif;
}
main ul {
  list-style-image: url("images/marker.gif");
}
dt {
  color: #00664D;
  font-weight: bold;
}
.barn {
  color: #70DBDB;
  font-weight: bold;
}
footer {
  font-size: 75%;
  font-style: italic;
  font-family: Times, Georgia, serif;
  text-align: center; 
  padding: 15px;
  margin-left: 190px;
  background-color: #FFFFFF;
}
#contact {
  font-size: 90%;
}
main {
  padding-top: 1px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 30px;
  display: block;
  background-color: #FFFFFF;
  margin-left: 190px;
}
#heroHome {
  height: 300px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-left: 190px;
}
#heroTraining {
  height: 300px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-left: 190px;
}
#heroBoard {
  height: 300px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-left: 190px;
}
